# Overview

This project looks at airfare data covering the top 1,000 contiguous state city-pair markets. The challenge and dataset can be found [here](https://discuss.codecademy.com/t/data-science-independent-project-5-analyze-airfare-data/419949/1).

# Dataset

To download the dataset for this project, uncomment and run the next cell. Note it requires `wget`.

In [1]:
!wget -O airfare_data.csv https://static-assets.codecademy.com/community/datasets_forum_projects/airfare_data.csv

--2023-11-02 21:08:51--  https://static-assets.codecademy.com/community/datasets_forum_projects/airfare_data.csv
Resolving static-assets.codecademy.com (static-assets.codecademy.com)... 2606:4700::6811:d451, 2606:4700::6812:c73f, 104.17.212.81, ...
Connecting to static-assets.codecademy.com (static-assets.codecademy.com)|2606:4700::6811:d451|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18217054 (17M) [text/csv]
Saving to: ‘airfare_data.csv’

airfare_data.csv    100%[===================>]  17.37M  18.3MB/s    in 0.9s

2023-11-02 21:08:53 (18.3 MB/s) - ‘airfare_data.csv’ saved [18217054/18217054]

In [1]:
import pandas as pd
import sqlite3

data = pd.read_csv('airfare_data.csv')
data.head(1)

,Year,quarter,citymarketid_1,citymarketid_2,city1,city2,nsmiles,passengers,fare,carrier_lg,large_ms,fare_lg,carrier_low,lf_ms,fare_low,table_1_flag,Geocoded_City1,Geocoded_City2
0,2009,2,32467,34576,"Miami, FL (Metropolitan Area)","Rochester, NY",1204,203,151.46,FL,0.29,131.05,FL,0.29,131.05,1,"Miami, FL (Metropolitan Area)\n(44.977479, -93...","Rochester, NY\n(43.155708, -77.612547)"

In [3]:

conn = sqlite3.connect("airfare.db")
cur = conn.cursor()

cur.execute('''CREATE TABLE airfare (
            year INT
            quarter INT
            citymarketid_1 INT
            citymarketid_2 INT
            city1 TEXT
            city2 TEXT
            nsmiles INT
            passengers INT
            fare REAL
            carrier_lg TEXT
            large_ms REAL
            fare_lg REAL
            carrier_low TEXT
            lf_ms REAL
            fare_low REAL
            table_1_flag_INT
            geocoded_city1 TEXT
            geocoded_city2 TEXT)''')

In [4]:
data.to_sql('airfare', conn, if_exists='replace', index=False)

90021

## Exploration

In [4]:
# Load the sql module to iPython

%load_ext sql

In [5]:
%sql sqlite:///airfare.db

In [6]:
%%sql

SELECT * FROM airfare
LIMIT 5

 * sqlite:///airfare.db
Done.

[(2009, 2, 32467, 34576, 'Miami, FL (Metropolitan Area)', 'Rochester, NY', 1204, 203, 151.46, 'FL', 0.29, 131.05, 'FL', 0.29, 131.05, 1, 'Miami, FL (Metropolitan Area)\n(44.977479, -93.264346)', 'Rochester, NY\n(43.155708, -77.612547)'),
 (2000, 4, 30397, 33198, 'Atlanta, GA (Metropolitan Area)', 'Kansas City, MO', 692, 782, 172.83, 'DL', 0.63, 194.71, 'NJ', 0.26, 126.88, 1, 'Atlanta, GA (Metropolitan Area)\n(33.748547, -84.391502)', 'Kansas City, MO\n(39.099792, -94.578559)'),
 (2007, 4, 32575, 34614, 'Los Angeles, CA (Metropolitan Area)', 'Salt Lake City, UT', 590, 3122, 135.24, 'DL', 0.51, 144.28, 'B6', 0.15, 111.68, 1, 'Los Angeles, CA (Metropolitan Area)\n(34.052238, -118.243344)', 'Salt Lake City, UT\n(40.758478, -111.888142)'),
 (2004, 4, 32337, 31650, 'Indianapolis, IN', 'Minneapolis/St. Paul, MN', 503, 395, 206.78, 'NW', 0.74, 224.77, 'TZ', 0.11, 156.74, 1, 'Indianapolis, IN\n(39.76845, -86.156212)', 'Minneapolis/St. Paul, MN\n(44.977479, -93.264346)'),
 (2008, 4, 30194, 30559, 'Dallas/Fort Worth, TX', 'Seattle, WA', 1670, 957, 242.74, 'AA', 0.47, 262.43, 'AS', 0.27, 218.9, 1, 'Dallas/Fort Worth, TX\n(40.11086, -77.035636)', 'Seattle, WA\n(47.603229, -122.33028)')]