## Dataset

To download the dataset for this project, uncomment and run the next cell. Note it requires `wget`.

In [ ]:
!wget -O home_value_data.csv https://static-assets.codecademy.com/community/datasets_forum_projects/home_value_data.csv?_gl=1*e7jqre*_ga*ODUyNDAwMzMyMC4xNjk4NDk1NzIw*_ga_3LRZM6TM9L*MTY5ODc5ODEzMS43LjAuMTY5ODc5ODEzMS42MC4wLjA.

In [ ]:
import sqlite3

conn = sqlite3.connect("home_value.db")
cur = conn.cursor()

cur.execute('''CREATE TABLE home_value (
            zip_code INT, \
            city TEXT,
            state TEXT,
            metro TEXT,
            county TEXT,
            date DATE,
            value REAL)''')

In [ ]:
import pandas as pd

data = pd.read_csv('home_value_data.csv')
data.to_sql('home_value', conn, if_exists='append', index=False)

In [1]:
# Load the sql module to iPython

%load_ext sql

In [2]:
%sql sqlite:///home_value.db

## Execution

1. How many distinct zip codes are in this dataset?

In [6]:
%%sql

SELECT count(DISTINCT zip_code)
FROM home_value;

 * sqlite:///home_value.db
Done.

[(15452,)]

2. How many zip codes are from each state?

In [9]:
%%sql

SELECT state, COUNT(DISTINCT zip_code)
FROM home_value
GROUP BY state;

 * sqlite:///home_value.db
Done.

[('AK', 28),
 ('AL', 221),
 ('AR', 119),
 ('AZ', 233),
 ('CA', 1230),
 ('CO', 261),
 ('CT', 122),
 ('DC', 18),
 ('DE', 39),
 ('FL', 795),
 ('GA', 375),
 ('HI', 62),
 ('IA', 223),
 ('ID', 111),
 ('IL', 571),
 ('IN', 420),
 ('KS', 242),
 ('KY', 163),
 ('LA', 195),
 ('MA', 419),
 ('MD', 322),
 ('ME', 95),
 ('MI', 547),
 ('MN', 416),
 ('MO', 326),
 ('MS', 146),
 ('MT', 72),
 ('NC', 489),
 ('ND', 33),
 ('NE', 89),
 ('NH', 198),
 ('NJ', 501),
 ('NM', 60),
 ('NV', 101),
 ('NY', 1081),
 ('OH', 630),
 ('OK', 230),
 ('OR', 224),
 ('PA', 875),
 ('RI', 60),
 ('SC', 215),
 ('SD', 20),
 ('TN', 436),
 ('TX', 940),
 ('UT', 121),
 ('VA', 428),
 ('VT', 62),
 ('WA', 348),
 ('WI', 426),
 ('WV', 82),
 ('WY', 32)]